<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - Jujuba - Casa de Doces</title>
	<link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
</head>
<body>
	<header>
		<div class="logo">
			<img src="~/Img/LogoJujuba.jpg" alt="Logo Jujuba" class="logo-img" />
		</div>
		<nav>
			<a asp-controller="Home" asp-action="Index">Início</a>
			<a asp-controller="Produto" asp-action="Index">Catálogo</a>
			<a asp-controller="Home" asp-action="QuemSomos">Quem Somos</a>
			<a asp-controller="Home" asp-action="Contato">Contato</a>
		</nav>
		<div class="whatsapp">
			<a href="https://wa.me/+551436444490" target="_blank">
			<img src="~/Img/LogoWhatssap.png" alt="Logo WhatsApp" class="whatsapp-icon"/>
			</a>
		</div>
	</header>

	<main>
		@RenderBody()
	</main>

	<section class="quote">
		<blockquote>“Lorem ipsum dolor sit amet, consectetur adipiscing elit.”</blockquote>
		<div class="smiley">😊</div>
	</section>

	<footer class="cta">
		<h2>Veja nosso catálogo completo</h2>
		<button class="btn-purple" type="submit">Ver Catálogo</button>
	</footer>

	@RenderSection("Scripts", required: false)
</body>
</html>
