@model CategoriaModel
@{
	ViewData["title"] = "Listagem de Categorias";

}

<div class="text-center">
	<h1 class="display-4"> Adicionar Categoria </h1>
</div>

<form asp-controller="Categoria" asp-action="Criar" method="post">

	<div class="form-group">
		<label for="nome">Nome</label>
		<input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do produto">
	</div>

	<button type="submit" class="btn btn-primary  w-100">Adicionar</button>
	<a class="btn btn-secondary w-100 " asp-controller="Categoria" asp-action="Index" role="button">Voltar</a>

</form>
