@model RedefinirSenhaModel
@{
	ViewData["title"] = "Redefinir senha do usuário";
}

<div class="text-center">

	<h1 class="display-4"> Alterar Senha</h1>

</div>

<form asp-controller="Login" asp-action="EnviarLinkParaRedefinirSenha" method="post">
	@Html.AntiForgeryToken()

	<div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
		<div class="card shadow p-4" style="max-width: 400px; width: 100%;">
			<h2 class="text-center mb-4">Redefinir Senha</h2>
			<div class="mb-3">
				<label asp-for="Email" class="form-label">Email</label>
				<input asp-for="Email" class="form-control" placeholder="Digite seu email" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-primary  btn-block">Enviar Link</button>
			<a class="btn btn-secondary btn-block " asp-controller="Login" asp-action="Index" role="button">Voltar</a>
		</div>
	</div>
	<br />
</form>

@section Scripts {
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}