@{
    ViewData["Title"] = "Pagina inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center welcome-section">
    <h1 class="display-4 w-100">Bem vindo!</h1>
    <p>Sistema de catálogo de doces</p>
</div>
