@{
    ViewData["Title"] = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Carrossel de Destaques -->
<div id="carouselDestaques" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Img/Banner.png" class="d-block w-100 destaque-img" alt="Destaque 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/Banner2.png" class="d-block w-100 destaque-img" alt="Destaque 2">
        </div>
        <div class="carousel-item">
            <img src="~/Img/Banner3.png" class="d-block w-100 destaque-img" alt="Destaque 3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDestaques" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDestaques" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </button>
</div>

<!-- Seção de Destaques fixos -->
<section class="quote">
    <h4 class="text-black text-orange">Destaques do Catálogo</h4>
    @{
        var imagens = new List<string>
    {
    "~/Img/jujuba/img1.jpg",
    "~/Img/jujuba/img2.jpg",
    "~/Img/jujuba/img3.jpg",
    "~/Img/jujuba/img4.jpg",
    "~/Img/jujuba/img5.jpg",
    "~/Img/jujuba/img6.jpg"
    };
    }

    <div class="cards">
        @foreach (var img in imagens)
        {
            <div class="card-img">
                <img src="@Url.Content(img)" alt="Produto em destaque" />
            </div>
        }
    </div>

    <h2>Veja nosso catálogo completo</h2>
    <form asp-controller="Catalogo" asp-action="Index" method="post">
        <button class="btn-purple" type="submit">Ver Catálogo</button>
    </form>
</section>
