@{
    ViewData["Title"] = "Pagina inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center welcome-section">
    <h1 class="welcome-title">Alegria em cada mordida!</h1>
    <button class="btn-orange">Ver Catálogo</button>
</div>
