* {
    box-sizing: border-box;
}
@media (max-width: 768px){
    .welcome-title{
        font-size: 40px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 50px;
    background-color: #fff6f0;
    color: #4a004e;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 0 1rem;
    color: #3F2E87;
    text-decoration: none;
    font-weight: bold;
}

.logo-img {
    height: 100px;
    width: auto;
}

.whatsapp-icon {
    width: 32px;
    height: 32px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* altura de quase toda a tela */
    text-align: center;
}

.welcome-title {
    font-size: 4rem !important; /* tamanho grande */
    font-weight: 800;
    color: #3B0A72; /* roxo semelhante ao da imagem */
    font-family: 'Baloo 2', cursive; /* fonte arredondada e divertida */
    line-height: 1.2;
    margin-bottom: 1rem;
    height: 100vh;

    
}

.hero {
    background-color: #ffe0cc;
    text-align: center;
    padding: 4rem 2rem;
    background-image: url('muffin.png'); /* opcional */
    background-repeat: no-repeat;
    background-position: right bottom;
}

    .hero h1 {
        font-size: 3rem;
        color: #4a004e;
    }

.btn-orange {
    background-color: #ff6b00;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.destaques {
    padding: 3rem 2rem;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    padding: 1rem;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

    .card h3 {
        font-size: 1.2rem;
        color: #4a004e;
    }

    .card button {
        margin-top: 0.5rem;
        background-color: #ff6b00;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        cursor: pointer;
    }

.quote {
    background-color: #fff0e6;
    text-align: center;
    padding: 2rem;
    font-style: italic;
}

.cta {
    background-color: #ff6b00;
    text-align: center;
    color: white;
    padding: 3rem 2rem;
}

.btn-purple {
    background-color: #3F2E87;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 1rem;
}

.form-group{
    
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
